.card {
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.modal-button {
  background-color: transparent;
  border: none;
  padding: 0px;
}
